### Importing the libraries

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

### Dataset first impressions

In [7]:
mlsm = pd.read_csv('dataset/melbourne/listings_small.csv')

In [9]:
mlfull = pd.read_csv('dataset/melbourne/listings.csv')

In [12]:
mel_cal = pd.read_csv('dataset/melbourne/calendar.csv')

In [18]:
mel_rev_sm = pd.read_csv('dataset/melbourne/reviews_small.csv')

In [29]:
mel_cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,534083,2021-04-12,f,$99.00,$99.00,1.0,1125.0
1,66754,2021-04-11,f,$94.00,$94.00,3.0,14.0
2,66754,2021-04-12,f,$94.00,$94.00,3.0,14.0
3,66754,2021-04-13,f,$94.00,$94.00,3.0,14.0
4,66754,2021-04-14,f,$94.00,$94.00,3.0,14.0

In [37]:
mel_cal[mel_cal['listing_id'] == 534083]['available'].value_counts()

f    286
t     79
Name: available, dtype: int64